<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedUser?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedUser?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success">To User List</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedUser?.description}}</p>
  </div>
</div>

